@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/* Light colors */
/* Dark colors */
/* Other colors */
::-moz-selection {
  background: #333;
  color: #f7f7f7;
}
::selection {
  background: #333;
  color: #f7f7f7;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-auto-rows: 1fr;
  grid-template-areas: ". logo list .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar .logo {
  grid-area: logo;
}
.navbar .larger-device {
  grid-area: list;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  overflow: hidden;
}
.navbar .larger-device .nav-item {
  margin: 0 1em;
  font-family: "Montserrat", sans-serif;
}
.navbar .larger-device .nav-item:first-child {
  margin-left: 0;
}
.navbar .larger-device .nav-item:last-child {
  margin-right: 0;
}
.navbar .larger-device .nav-item .nav-link {
  position: relative;
  text-decoration: none;
  color: transparent;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.navbar .larger-device .nav-item .nav-link::before, .navbar .larger-device .nav-item .nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  color: #333;
}
.navbar .larger-device .nav-item .nav-link::before {
  top: 0%;
}
.navbar .larger-device .nav-item .nav-link::after {
  top: 100%;
}
.navbar .larger-device .nav-item:hover .nav-link::before, .navbar .larger-device .nav-item:hover .nav-link::after {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.navbar .hamburger_menu {
  grid-area: menu;
  width: 3rem;
  height: 2rem;
  justify-self: end;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.navbar .hamburger_menu .bar {
  width: 100%;
  height: 3px;
  background: #000;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100vh;
  z-index: 101;
  background: #fff;
  -webkit-transition: right 150ms ease-out;
  transition: right 150ms ease-out;
}
.sidebar .nav-list {
  list-style: none;
}
.sidebar .nav-list .close-nav .nav-item {
  background: #f7f7f7;
}
.sidebar .nav-list .nav-link {
  text-decoration: none;
  color: #333;
}
.sidebar .nav-list .nav-link .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.sidebar.show {
  right: 0;
}

@media (max-width: 1024px) {
  .navbar .nav-list .nav-item {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    grid-template-areas: ". logo menu .";
  }
  .navbar .larger-device {
    display: none;
  }
  .navbar .hamburger_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .navbar .logo img {
    width: 100%;
  }
}
.carousel {
  position: relative;
  width: 100%;
}
.carousel .carousel-action {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  color: #fff;
  z-index: 2;
}
.carousel .carousel-action .slide {
  position: relative;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
}
.carousel .carousel-action .slide::after {
  content: "";
  position: absolute;
  height: 4rem;
  width: 4rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  -webkit-transform: translate(-65%, -25%);
          transform: translate(-65%, -25%);
  z-index: -1;
}
.carousel .carousel-action .slide:hover::after {
  background: rgba(0, 0, 0, 0.7);
}
.carousel .carousel-track-container {
  width: 100%;
  overflow: hidden;
}
.carousel .carousel-track-container .carousel-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
}
.carousel .carousel-track-container .carousel-track .carousel-slide {
  width: 100vw;
}
.carousel .carousel-track-container .carousel-track .carousel-slide img {
  width: 100%;
}

@media (max-width: 426px) {
  .carousel .carousel-action .slide {
    font-size: 1.5rem;
  }
  .carousel .carousel-action .slide::after {
    height: 3rem;
    width: 3rem;
  }
}
.btn {
  position: relative;
  padding: 0.5em 1em;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-align: center;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  mix-blend-mode: difference;
  -webkit-transition: height 150ms ease-out;
  transition: height 150ms ease-out;
}
.btn:hover {
  color: #fff;
}
.btn:hover::after {
  height: 100%;
}

.btn-red {
  color: #000;
}
.btn-red::after {
  background: #000;
}

@supports (aspect-ratio: 16/9) {
  .yt-video {
    aspect-ratio: 16/9 !important;
  }
}
@supports not (aspect-ratio: 16/9) {
  .yt-video {
    min-height: 315px;
  }
}
.reviews {
  width: 100%;
  text-align: center;
}
.reviews .video-feedback {
  width: 100%;
  margin-bottom: 50px;
}
.reviews .video-feedback .yt-video {
  width: 100% !important;
}
.reviews #feedback-car {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 426px) {
  .reviews {
    padding: 25px 0;
  }

  #feedback-car {
    width: 100%;
  }
}
section {
  margin-top: 25px;
  padding: 25px 10%;
}
section .section-heading {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-transform: captialize;
  text-align: center;
  font-weight: bolder;
  margin: 1em 0;
}

.hero-section {
  margin-top: 0;
  min-height: 90vh;
  width: 100%;
  background: #f7f7f7;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
.hero-section main {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-areas: ". img text .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section main .hero-img {
  grid-area: img;
  justify-self: center;
}
.hero-section main .hero-img img {
  width: 120%;
}
.hero-section main .hero-text {
  grid-area: text;
  font-family: "Poppins", sans-serif;
}
.hero-section main .hero-text p {
  margin: 1.5em 0;
}

.showcase {
  width: 100%;
}
.showcase .show {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.showcase .show:first-child {
  margin-bottom: 50px;
}
.showcase .show .video iframe {
  width: 100% !important;
}
.showcase .show .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 5%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  margin-top: 2em;
}

@media all and (max-width: 1024px) {
  .hero-section .hero-img {
    justify-self: center;
  }
  .hero-section .hero-text {
    justify-self: center;
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .hero-section main {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: ". img ." ". text .";
  }

  .showcase .show {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
  }
}
@media (max-width: 426px) {
  .hero-section {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
}
@media (max-width: 320px) {
  .hero-section main {
    grid-template-rows: 1fr 2fr;
  }
}
@media (max-width: 768px) {
  .showcase main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content 1fr min-content;
  }
}
@media (max-width: 376px) {
  .showcase .show .text {
    font-size: 1.2rem;
  }

  section .section-heading {
    font-size: 2rem;
  }
}
.reviews .video-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}
.reviews .video-feedback iframe {
  width: 100%;
}
.reviews #feedback-car .carousel-action {
  width: 120%;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}
.reviews #feedback-car .carousel-action .slide {
  color: #333;
}
.reviews #feedback-car .carousel-action .slide::after {
  background: transparent;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */