@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/* Light colors */
/* Dark colors */
/* Other colors */
::-moz-selection {
  background: #333;
  color: #f7f7f7;
}
::selection {
  background: #333;
  color: #f7f7f7;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.4);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-auto-rows: 1fr;
  grid-template-areas: ". logo list .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar .logo {
  grid-area: logo;
}
.navbar .larger-device {
  grid-area: list;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  overflow: hidden;
}
.navbar .larger-device .nav-item {
  margin: 0 1em;
  font-family: "Montserrat", sans-serif;
}
.navbar .larger-device .nav-item:first-child {
  margin-left: 0;
}
.navbar .larger-device .nav-item:last-child {
  margin-right: 0;
}
.navbar .larger-device .nav-item .nav-link {
  position: relative;
  text-decoration: none;
  color: transparent;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.navbar .larger-device .nav-item .nav-link::before, .navbar .larger-device .nav-item .nav-link::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  color: #333;
}
.navbar .larger-device .nav-item .nav-link::before {
  top: 0%;
}
.navbar .larger-device .nav-item .nav-link::after {
  top: 100%;
}
.navbar .larger-device .nav-item .nav-link.active {
  color: #0084ff;
}
.navbar .larger-device .nav-item:hover .nav-link::before, .navbar .larger-device .nav-item:hover .nav-link::after {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.navbar .hamburger_menu {
  grid-area: menu;
  width: 3rem;
  height: 2rem;
  justify-self: end;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.navbar .hamburger_menu .bar {
  width: 100%;
  height: 3px;
  background: #000;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100vh;
  z-index: 101;
  background: #fff;
  -webkit-transition: right 150ms ease-out;
  transition: right 150ms ease-out;
}
.sidebar .nav-list {
  list-style: none;
}
.sidebar .nav-list .close-nav .nav-item {
  background: #f7f7f7;
}
.sidebar .nav-list .nav-link {
  text-decoration: none;
  color: #333;
}
.sidebar .nav-list .nav-link .nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
}
.sidebar.show {
  right: 0;
}

@media (max-width: 1024px) {
  .navbar .nav-list .nav-item {
    font-size: 0.8rem;
  }
}
@media (max-width: 768px) {
  .navbar {
    grid-template-areas: ". logo menu .";
  }
  .navbar .larger-device {
    display: none;
  }
  .navbar .hamburger_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .sidebar {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .navbar .logo img {
    width: 100%;
  }
}
.carousel {
  position: relative;
  width: 100vw;
}
.carousel .carousel-cell {
  width: 100%;
}
.carousel .carousel-cell img {
  width: 100%;
}

.btn {
  position: relative;
  padding: 0.5em 1em;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  text-align: center;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  mix-blend-mode: difference;
  -webkit-transition: height 150ms ease-out;
  transition: height 150ms ease-out;
}
.btn:hover {
  color: #fff;
}
.btn:hover::after {
  height: 100%;
}

.btn-red {
  color: #000;
}
.btn-red::after {
  background: #000;
}

@supports (aspect-ratio: 16/9) {
  .yt-video {
    aspect-ratio: 16/9 !important;
  }
}
@supports not (aspect-ratio: 16/9) {
  .yt-video {
    min-height: 315px;
  }
}
.reviews {
  width: 100%;
  text-align: center;
}
.reviews .video-feedback {
  width: 100%;
  margin-bottom: 50px;
}
.reviews .video-feedback .yt-video {
  width: 100% !important;
}
.reviews #feedback-car {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 426px) {
  .reviews {
    padding: 25px 0;
  }

  #feedback-car {
    width: 100%;
  }
}
footer {
  background: #1a1a1a;
  color: #a8a8a8;
  padding-top: 1em;
}
footer .upper-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .upper-footer .column {
  padding: 25px;
}
footer .upper-footer .column .title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  position: relative;
  padding-left: 15px;
  margin-bottom: 2em;
  z-index: 2;
}
footer .upper-footer .column .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: #0084ff;
}
footer .upper-footer .column ul {
  list-style: none;
}
footer .upper-footer .column ul li {
  margin-bottom: 1em;
}
footer .upper-footer .column ul li:last-child {
  margin: 0;
}
footer .upper-footer .links ul li a {
  position: relative;
  color: #a8a8a8;
  text-decoration: none;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  padding-bottom: 0.3em;
}
footer .upper-footer .links ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 1px;
  background: #0084ff;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}
footer .upper-footer .links ul li a:hover::after {
  width: 100%;
}
footer .upper-footer .map ul .map {
  max-width: 100%;
}
footer .upper-footer .map ul .map iframe {
  width: 100%;
}
footer .sc-links {
  padding: 50px;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .sc-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .sc-links ul li {
  margin: 0 2em;
}
footer .sc-links ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #a8a8a8;
}
footer .sc-links ul li a:hover {
  color: #fff;
}
footer .copyright-text {
  padding: 25px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .copyright-text p {
  text-align: center;
}

@media (max-width: 768px) {
  footer .upper-footer {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
  }
  footer .upper-footer .column .title {
    padding: 0;
    color: #fff;
  }
  footer .upper-footer .column .title::before {
    width: 100%;
    z-index: -1;
  }
  footer .upper-footer .links ul li a::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
section {
  margin-top: 25px;
  padding: 25px 10%;
}
section .section-heading {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-transform: captialize;
  text-align: center;
  font-weight: bolder;
  margin: 1em 0;
}

.hero-section {
  margin-top: 0;
  min-height: 90vh;
  width: 100%;
  background: #f7f7f7;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}
.hero-section main {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-areas: ". img text .";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section main .hero-img {
  grid-area: img;
  justify-self: center;
}
.hero-section main .hero-img img {
  width: 120%;
}
.hero-section main .hero-text {
  grid-area: text;
  font-family: "Poppins", sans-serif;
}
.hero-section main .hero-text p {
  margin: 1.5em 0;
}

.showcase {
  width: 100%;
}
.showcase .show {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.showcase .show:first-child {
  margin-bottom: 50px;
}
.showcase .show .video iframe {
  width: 100% !important;
}
.showcase .show .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 5%;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  margin-top: 2em;
}

@media all and (max-width: 1024px) {
  .hero-section .hero-img {
    justify-self: center;
  }
  .hero-section .hero-text {
    justify-self: center;
    text-align: center;
  }
}
@media all and (max-width: 768px) {
  .hero-section main {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: ". img ." ". text .";
  }

  .showcase .show {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, -webkit-min-content);
    grid-template-rows: repeat(2, min-content);
  }
}
@media (max-width: 426px) {
  .hero-section {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
}
@media (max-width: 320px) {
  .hero-section main {
    grid-template-rows: 1fr 2fr;
  }
}
@media (max-width: 768px) {
  .showcase main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content 1fr min-content;
  }
}
@media (max-width: 376px) {
  .showcase .show .text {
    font-size: 1.2rem;
  }

  section .section-heading {
    font-size: 2rem;
  }
}
.reviews .video-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}
.reviews .video-feedback iframe {
  width: 100%;
}
.reviews #feedback-car {
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #feedback-car {
    width: 100%;
  }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 50px 30px;
  padding: 0 30px;
  margin-top: 100px;
}
.gallery .item {
  text-align: center;
  width: 100%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.gallery .item .title {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-bottom: 2em;
}
.gallery .item iframe {
  width: 100%;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0;
  }
  .gallery .item .title {
    font-size: 1.7rem;
  }
}
@media (max-width: 376px) {
  .gallery {
    padding: 10px;
  }
}
.img-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 50px 0;
  padding: 0 50px;
}
.img-gallery .item {
  width: 100%;
}
.img-gallery .item img {
  width: 100%;
}

@media (max-width: 426px) {
  .img-gallery {
    grid-template-columns: 1fr;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */