doctype html
html 
  head 
    title Pace Institute - We Make English Possible
    link(rel="stylesheet", href="scss/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body 