.carousel#main-car 
  .carousel-action 
    i.fas.fa-chevron-left.slide#slide-left 
    i.fas.fa-chevron-right.slide#slide-right
  .carousel-track-container 
    .carousel-track 
      .carousel-slide 
        img(src="img/img1.jpg", alt="")
      .carousel-slide 
        img(src="img/img2.jpg", alt="")
      .carousel-slide 
        img(src="img/img3.jpg", alt="")
      .carousel-slide 
        img(src="img/img4.jpg", alt="")
      .carousel-slide 
        img(src="img/img5.jpg", alt="")