.carousel
  img.carousel-cell(src="img/img1.jpg", alt="")
  img.carousel-cell(src="img/img2.jpg", alt="")
  img.carousel-cell(src="img/img3.jpg", alt="")
  img.carousel-cell(src="img/img4.jpg", alt="")
  img.carousel-cell(src="img/img5.jpg", alt="")