footer.footer 
  .column.address  
    .title Address
    ul.address-list 
      li.address PACE Institute 
      li.address PACE tower, opposite Jyoti Raj complex, 90 feet Road, Kankarbagh, Patna. 800020
      li.address Cell: 9334314161, 7979911318, 7979971401, 9334847381
      li.address email: personalityenglish@gmail.com
      li.address 1st floor , Jagdamba Towers, Sahdeo Mahto marg, Boring Road, Patna-800001
  .column.map 
    .title Contact us
    ul
      li.map#map-1 
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14394.12830564306!2d85.157298!3d25.58723!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x55b38abf02a5e703!2sPACE%20Institute!5e0!3m2!1sen!2sin!4v1625748670889!5m2!1sen!2sin", width="600", height="450", style="border:0;", allowfullscreen="", loading="lazy")
      li.map#map-2 
        iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d115128.0128389976!2d85.099725!3d25.613209!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed588e3ce10299%3A0xf97f67e31741abb0!2sPACE%20Institute%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1625748736899!5m2!1sen!2sin", width="600", height="450", style="border:0;", allowfullscreen="", loading="lazy")
  .column 
    .title Quick Links 
    ul.links  
      li
        a(href="/") Home
      li 
        a(href="/courses") Courses 
      li 
        a(href="/videogallery") Video Gallery 
      li 
        a(href="/imagegallery") Image Gallery 
      li 
        a(href="/about") About Pace  