nav.navbar 
  .logo 
    a(href="/") 
      img(src="img/pace_logo.png", alt="Pace")
  ul.nav-list 
    li.nav-item
      a.nav-link(href="/") Home
    li.nav-item
      a.nav-link(href="/courses") Courses
    li.nav-item
      a.nav-link(href="/videogallery") Video Gallery
    li.nav-item
      a.nav-link(href="/imagegallery") Image Gallery
    li.nav-item
      a.nav-link(href="about") About Pace