nav.navbar 
  .logo 
    a(href="/") 
      img(src="img/pace_logo.png", alt="Pace")
  ul.nav-list.larger-device
    li.nav-item
      a.nav-link(href="/", data-text="Home") Home
    li.nav-item
      a.nav-link(href="/courses", data-text="Courses") Courses
    li.nav-item
      a.nav-link(href="/video-gallery", data-text="Video Gallery") Video Gallery
    li.nav-item
      a.nav-link(href="/image-gallery", data-text="Image Gallery") Image Gallery
    li.nav-item
      a.nav-link(href="about", data-text="About Pace") About Pace
  .hamburger_menu 
    .bar#bar-1 
    .bar#bar-2
.sidebar 
  ul.nav-list 
    a.nav-link.close-nav(href="#") 
      li.nav-item 
        i.fas.fa-times-circle 
        | &nbsp;
        | Close Menu
    a.nav-link(href="#")
      li.nav-item Home
    a.nav-link(href="#")
      li.nav-item Courses
    a.nav-link(href="#")
      li.nav-item Video Gallery
    a.nav-link(href="#")
      li.nav-item Image Gallery
    a.nav-link(href="#")
      li.nav-item Contact us