/* Light colors */
$white: #fff;
$light: #f7f7f7;
$grey: #a8a8a8;

/* Dark colors */
$black: #000;
$dark: #333;

/* Other colors */
$red: #ff0000;
$blue: #0084ff;
$yellow: #f1c40f;
$green: #2ecc71;
$purple: #9b59b6;
$ocean: #34495e;
