include partials/boilerplate
include partials/navbar 
include partials/carousel 

.course 
  .desc  PACE Institute offers multiple offline or online classes for short or long duration for English language and personality development for all age groups and different levels as per the requirement of people
  .course-gallery 
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title Public Speaking Course
        .card-desc Spoken English skills,
          | Public speaking, confidence and personality development training.
          | Accent & tone modulation.
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card 
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
