include partials/boilerplate
include partials/navbar 
include partials/carousel 

.course 
  .desc  PACE Institute offers multiple offline or online classes for short or long duration for English language and personality development for all age groups and different levels as per the requirement of people
  .course-gallery 
    .item 
      .card.red
        .card-title General English for Competitors 
        .card-desc PACE Institute offers English for all general competitive examinations like CSAT, CAT, SSC, Banks, IBPS, SBI, RBI, Defence, etc.
          | The course includes complete English grammar, Wordpower building techniques, descriptive writing ability and objective type questions (MCQ).
        .card-footer 
          .price-tag ₹7,600
    .item 
      .card.blue
        .card-title Public Speaking Course
        .card-desc Spoken English skills,
          | Public speaking, confidence and personality development training.
          | Accent & tone modulation.
        .card-footer 
          .price-tag ₹7,600
    .item
      .card.yellow
        .card-title Interview or Discussion course
        .card-desc Mock GD-PI
        .card-footer 
          .price-tag ₹6,000
    .item 
      .card.green
        .card-title Speaking with Grammar Course 
        .card-desc Learn Basic spoken English with grammar
        .card-footer 
          .price-tag ₹10,000
    .item
      .card.purple
        .card-title IELTS Traning (TOEFL)
        .card-desc Speaking, Writing, Listening and reading for going abroad.
        .card-footer 
          .price-tag ₹13,500
    .item 
      .card.ocean
        .card-title Public Speaking course for children or housewives
        .card-desc Duration - Upto 1 Year
        .card-footer 
          .price-tag ₹15,000
    .item 
      .card.light
        .card-title English Tutorial for School and College students
        .card-desc English tutorials for school and college Students: Price, depends on syllabus Duration and personalized course
        .card-footer 
          .price-tag Free
    .item 
      .card.black
        .card-title Overall Guaranteed English course
        .card-desc Complete grammar, written and spoken English with assured results to regular students.
        .card-footer 
          .price-tag ₹13,500
include partials/footer
include partials/jump_to_top
include partials/wame