include partials/boilerplate
include partials/navbar
include partials/carousel

.popup-gallery
	a.item(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", title="Office", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
	a.item(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.21.jpeg", title="Office", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.21.jpeg")
	a.item(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="Saraswait Puja Decoration", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a.item(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.34-1.jpeg", title="Saraswati Puja Decoration", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.34-1.jpeg")
	a.item(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.57.36.jpeg", title="Students giving speech and recording videos in presentation class", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.57.36.jpeg")
	a.item(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.01.01.jpeg", title="Celebration", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.01.01.jpeg")

include partials/footer
include partials/jump_to_top
include partials/wame