include partials/boilerplate
include partials/navbar
include partials/carousel

.img-gallery
  .item 
    a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
      img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1") 
  .item 
    a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
      img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1") 
  .item 
    a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
      img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1") 
  .item 
    a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
      img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1") 
  .item 
    a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
      img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1") 
  .item 
    a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg")
      img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1") 

include partials/footer