include partials/boilerplate
include partials/navbar
include partials/carousel

.popup-gallery
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="The Cleaner", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="Winter Dance", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="The Uninvited Guest", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="Oh no, not again!", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="Swan Lake", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="The Shake", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")
	a(href="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", title="Who's that, mommy?", target="_blank")
		img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg")

include partials/footer