include partials/boilerplate
include partials/navbar
include partials/carousel

.gallery 
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.22.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.53.21.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.35.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.34-1.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.57.36.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.01.01.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.34.jpeg", alt="Image 1")
  .item 
    img(src="https://paceinstitute.co.in/wp-content/uploads/sites/15/2021/06/WhatsApp-Image-2021-06-28-at-09.38.33.jpeg", alt="Image 1")