include partials/boilerplate
include partials/navbar
include partials/carousel

section.hero-section 
  h1.section-heading Why Learn English?
  main 
    .hero-img 
      img(src="./img/teacher.png", alt="Director")
    .hero-text 
      p English has become the leading international language.
      p It has developed over the period of more than 1,400 years.
      p English language has been updating itself with time from old English to modern English with institutions like PACE working sincerely.
      p Modern English has been spreading around the world due to its flexibility and adaptability.English has become the leading language of international discourse and communication in many regions and professional contexts such as science, navigation and law.

section.showcase 
  h1.section-heading Demo Lectures 
  main 
    .video 
      iframe(width="560",height="315",src="https://www.youtube.com/embed/wEMW3gh8Z0E",title="YouTube video player",frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
    .text 
      p Be effective with the personality development Program at PACE Institute
    .video 
      iframe(width="560",height="315",src="https://www.youtube.com/embed/K1USSRBF2_8",title="YouTube video player",frameborder="0",allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture",allowfullscreen)
    .text 
      p Develop a concept of grammar at PACE Institute
  .center 
    a.btn.btn-red(href="https://www.youtube.com/channel/UCHKx9XdxzbaWZ586lUI5LrQ", target="blank") Visit Pace Institute's YouTube channel