include partials/boilerplate
include partials/navbar
include partials/carousel

section.hero-section 
  h1.section-heading From Director's Desk
  main 
    .hero-img 
      img(src="./img/teacher.png", alt="Director")
    .hero-text 
      p English has become the leading international language.
      p It has developed over the period of more than 1,400 years.
      p English language has been updating itself with time from old English to modern English with institutions like PACE working sincerely.
      p Modern English has been spreading around the world due to its flexibility and adaptability.English has become the leading language of international discourse and communication in many regions and professional contexts such as science, navigation and law.

section.showcase 
  h1.section-heading Demo Lectures 