include partials/boilerplate
include partials/navbar
include partials/carousel

.gallery 
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institut
    iframe(width="560", height="315", src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)