include partials/boilerplate
include partials/navbar
include partials/carousel

.gallery 
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/4BQ-pCk-6uU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title How to build Concentration
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/nT9luM21VeE", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Wordpower and imitation can improve the language
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/jeVg1K8Md6o", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar made easy at PACE Institute
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/c-hyQqhWesU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title PACE Institute provides environment to develop learning habit
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/aoos9QlIQC4", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Confidence building is guaranteed at PACE Institute
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/omIgmSgswWw", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Wordpower & Vocabulary for all levels
    .video 
      iframe.yt-video(src="https://www.youtube.com/embed/asHX1n8ZrVU", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title Grammar classes for all levels
    iframe.yt-video(src="https://www.youtube.com/embed/JevNb0-O-zk", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
  .item 
    .title All Topics covered in PACE Institute
    iframe.yt-video(src="https://www.youtube.com/embed/Ct-t0agvSIg", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
include partials/footer