@use "./../variables/" as *;

.course {
  width: 80%;
  margin: 50px auto;
  .desc {
    text-align: center;
  }
  .course-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    grid-gap: 30px;
    margin: 50px 0;
    .item {
      width: 100%;
      .card {
        width: 100%;
        text-align: center;
        background: $black;
        padding: 1em;
        &.red {
          background: $red;
        }
        &.blue {
          background: $blue;
        }
        &.yellow {
          background: $yellow;
        }
        &.green {
          background: $green;
        }
        &.purple {
          background: $purple;
        }
        &.ocean {
          background: $ocean;
        }
        .card-title {
          font-family: $montserrat;
          color: $light;
          font-weight: bold;
          font-size: 1.5em;
          margin: 1em 0;
        }
        .card-desc {
          color: $light;
          font-size: 0.8rem;
        }
        .card-footer {
          margin-top: 1.5em;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .price-tag {
            background: $light;
            color: $dark;
            padding: 0.25em 0.5em;
            padding-left: 2em;
            clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 50%, 20% 0);
            position: relative;
            &::after {
              content: "";
              position: absolute;
              height: 10px;
              width: 10px;
              border-radius: 50%;
              background: $black;
              left: 1em;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        &.light {
          background: $light;
          .card-title {
            color: $dark;
          }
          .card-desc {
            color: $dark;
          }
          .price-tag {
            background: $black;
            color: $light;
            &::after {
              background: $light;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .course {
    .course-gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 426px) {
  .course {
    .course-gallery {
      grid-template-columns: 1fr;
    }
  }
}
