@use "./../variables/" as *;

section {
  margin-top: 25px;
  padding: 25px 10%;
  .section-heading {
    font-size: 3rem;
    font-family: $montserrat;
    text-transform: captialize;
    text-align: center;
    font-weight: bolder;
    margin: 1em 0;
  }
}

.hero-section {
  margin-top: 0;
  min-height: 90vh;
  width: 100%;
  background: $light;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  main {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-areas: ". img text .";
    align-items: center;
    .hero-img {
      grid-area: img;
      justify-self: center;
      img {
        width: 120%;
      }
    }
    .hero-text {
      grid-area: text;
      font-family: $poppins;
      p {
        margin: 1.5em 0;
      }
    }
  }
}

.showcase {
  width: 100%;
  .show {
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:first-child {
      margin-bottom: 50px;
    }
    .video {
      iframe {
        width: 100% !important;
      }
    }
    .text {
      font-family: $montserrat;
      font-weight: 800;
      font-size: 1.5rem;
      padding: 5%;
      background: $light;
      display: flex;
      align-items: center;
    }
  }
}

.center {
  margin-top: 2em;
}

@media all and (max-width: 1024px) {
  .hero-section {
    .hero-img {
      justify-self: center;
    }
    .hero-text {
      justify-self: center;
      text-align: center;
    }
  }
}

@media all and (max-width: 768px) {
  .hero-section {
    main {
      grid-template-columns: 10% 1fr 10%;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        ". img ."
        ". text .";
    }
  }
  .showcase {
    .show {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, min-content);
    }
  }
}

@media (max-width: 426px) {
  .hero-section {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }
}

@media (max-width: 320px) {
  .hero-section {
    main {
      grid-template-rows: 1fr 2fr;
    }
  }
}

@media (max-width: 768px) {
  .showcase {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content 1fr min-content;
    }
  }
}

@media (max-width: 376px) {
  .showcase {
    .show {
      .text {
        font-size: 1.2rem;
      }
    }
  }
  section {
    .section-heading {
      font-size: 2rem;
    }
  }
}

.reviews {
  .video-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    iframe {
      width: 100%;
    }
  }

  #feedback-car {
    .carousel-action {
      width: 120%;
      transform: translateX(-10%);
      .slide {
        color: $dark;
        &::after {
          background: transparent;
        }
      }
    }
  }
}
