@use "./../variables/" as *;

.jump-to-top {
  height: 3rem;
  width: 3rem;
  background: $blue;
  position: fixed;
  bottom: 1em;
  right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  transition: 250ms ease-in-out;
  transition-delay: border 250ms;
  z-index: 1000;
  &:hover {
    box-shadow: none;
    background: $light;
    color: $dark;
    border: 1px solid $dark;
  }
}
