@use "./../variables/" as *;
.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-auto-rows: 1fr;
  grid-template-areas: ". logo list .";
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba($color: $white, $alpha: 0.8);
  backdrop-filter: blur(25px);
  box-shadow: 0 4px 4px 0 rgba($color: $black, $alpha: 0.2);
  .logo {
    grid-area: logo;
  }
  .larger-device {
    grid-area: list;
    justify-self: end;
    display: flex;
    list-style: none;
    .nav-item {
      margin: 0 1em;
      font-family: $montserrat;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      .nav-link {
        text-decoration: none;
        color: #333;
        padding: 0.5em;
        transition: box-shadow 250ms ease-in-out;
        &:hover {
          box-shadow: 0 0 20px 5px rgba($color: #000000, $alpha: 0.2);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    .nav-list {
      .nav-item {
        font-size: 0.8rem;
      }
    }
  }
}
